            .App {
                text-align: center;
                font-family: "Source Sans Pro", sans-serif;
            }
            
            .App-logo {
                height: 40vmin;
                pointer-events: none;
            }
            
            @media (prefers-reduced-motion: no-preference) {
                .App-logo {
                    animation: App-logo-spin infinite 20s linear;
                }
            }
            
            .App-header {
                background-color: #282c34;
                min-height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: calc(10px + 2vmin);
                color: white;
            }
            
            .App-link {
                color: #61dafb;
            }
            
            @keyframes App-logo-spin {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
            /* Footer */
            
            .iconRef a {
                font-size: 32px;
                color: rgb(199, 199, 199);
            }
            
            .iconRef a:hover {
                color: rgb(223, 57, 39);
            }
            
            .heading {
                padding: 3px 10px 15px;
                margin-bottom: 30px;
                display: block;
            }
            
            .heading h2 {
                color: rgb(204, 70, 70);
            }
            .heading p{
                font-size: 0.9em;
                color: #858585;
                line-height: 22px;
            }
            .heading p::selection {
                color: rgb(255, 255, 255);
                background: rgb(204, 70, 70);
            }
            /* Menu */
            
            .navbar-header {
                float: left;
            }
            
            .navbar-nav {
                float: right;
                flex-direction: unset;
                font-size: 1em;
            }
            .navbar-nav > li {
                padding: 5px 10px;
            }
            .navbar-nav > li > a{
                color: #999;
                padding: 5px 7px;
            }
            .navbar-nav > li > a:hover{
                color: white;
                text-decoration: none;
            }
            .navbar-nav > li > a::selection{
                color: white;
            }
            .navBarMenu {
                background: #CC4646;
                text-transform: uppercase;
                color: #999;
                width: 100%;
            }

            .imageTop{
                color: #fff;
                font-family: 'Pacifico', cursive;
                font-weight: 400;
                font-size: 1em;
                text-shadow: none;
                margin: 8px 0 0 0;
            }
/* About Me */
.aboutMeHeader > h2::selection{
    color: rgb(255, 255, 255);
    background: rgb(204, 70, 70);
}

.aboutMe{
    padding: 5%;
    background: #e4e4e4;
}
.aboutMe > p {
    color: #777777;
}
.aboutItemHeader{
    padding: 5%;
    background: #ffffff;
}
.aboutItemBody{
    padding: 2%;
    background: #f0f0f0;
}
.aboutItemHeader > i{
    font-size: 50px;
    color: #5e5e5e;
}

.aboutItemHeader > h3{
    padding: 2%;
}
.aboutItemHeader > h3::selection {
    color: rgb(255, 255, 255);
    background: rgb(204, 70, 70);
}
.aboutItemBody > p,.slideShowFooter > p{
    color: #777777;
}
.aboutItemBody > p::selection,.slideShowFooter > p::selection{
    color: rgb(255, 255, 255);
    background: rgb(204, 70, 70);
}
/* Slide */
.slideShowFooter{
    padding: 2%;
}

.slideShow {
    position: relative;
}

.slideShow .slideShowDetail {
    position: absolute;
    z-index: 3;
    width: 100%;
    color: #fff;
}

.carouselBtn{
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.carousel-item{
    padding-top: 5% ;
    padding-left: 60%;
    animation: toLeftAnim1 0.6s ease-in-out both;
    color: #ff9933;
    font-weight: bold;
}
.carousel-item > h2{
    font-size: 1.5em;
}
.carousel-inner{
   
}
 /* Projects */
 .projects{
     background-color: #181818;
 }
 .projectsHeader > h2 {
    font-size: 1.5em;
     color: #CC4646;
 }
 .projectsHeader > p{
    font-size: 1em;
    color: #858585;
 }

 .btnFilter{
     color: #CC4646;
     border: 1px solid #CC4646;
     padding: 5px;
 }

 .btnFilter:hover{
    color: white;
    text-decoration: none;
 }

 .liFilter{
     padding: 0.5%;
     list-style-type: none;
 }
.liFilter:hover a > span{
    color: #b93923;
}
 .ulFilter{
    justify-content: center;
 }
 .projects{
     padding: 5%;
 }

 .iconRef > a{
     padding: 1%;
 }
.projectItemAll{
    padding: 2%;
}
 .projectItem{
     position: relative;
     padding: 0;
 }
.projectItem > img{
    width: 100%;
}
 .divImgItem{
     position: absolute;
     top: 0;
     left: 0;
     color: rgba(220, 220, 220);
     display: none;
     width: 100%;
     height: 100%;
 }

 /* .projectItem:hover .divImgItem{
    
    height: 100%;
    display: block;
    opacity: 0.5;
    background: rgba(61, 61, 61, 0.67);
}
.projectItem:hover .detailProject{
    transform: translateY(10px);
    transition: transform 2s;
} */
 .divImgItem > a{
    color: #fff;
    text-align: center;
    display: block;
    padding: 5%;
 }

 .detailProject > a{
    color: #fff;
    text-align: center;
    display: block;
    padding: 5%;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
 }
 /* Skills */
 .skills{
     padding: 4%;
 }
.skillItemHeader{
    padding: 0.5%;
}
 .progress{
     padding: 0;
     width: 100%;
    border-radius: 0px;
    height: 15px;
    margin-top: 5px;
    background-color: #D6D6D6;
    margin-bottom: 20px;
    overflow: hidden;
 }

 .progress-bar{
    background-color: #CC4646;
 }

/* Experiences */
.experiences{
    background: #e4e4e4;
    padding: 4%;
}
/* Contact Us */
.contactUs{
    padding: 2%;
}

